
$lt-gray: #ddd;
$backgroud-dark: #512DA8;
$backgroud-light: #9575CD;
$backgroud-pale: #D1C4E9;

$carousel-item-height: 300px;

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

@mixin zero-margin($pad-up-dn: 0px, $pad-left-right: 0px) {
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $backgroud-light;
    color:floralwhite;
}
.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height:400px;
}
.row-content:last-child{
    border: none
}
.header{
    padding-top: 50px;
}
.about {
    padding-right: 10px;
    padding-left: 10px;
}
.history {
    margin: 50px 0;
}
.lidership {
    margin: 25px 0 25px 0;
}
.footer {
    @include zero-margin(20px,0px);
    background-color: $backgroud-pale;
    color: #373a48
}
.tab-content {
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}
.carousel {
    background: $backgroud-dark;
}

.carousel-item {
  height: $carousel-item-height;
  img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: $carousel-item-height;
  }
}
#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.modal-header {
    color: floralwhite;
    background-color: $backgroud-dark;
    .close {
        color: floralwhite;
    }
    
}
.modal-body{
    color: black;
    background-color: $backgroud-pale;
}
.modal-content{
    background-color: transparent;
}