.jumbotron {
    background-color: #9575cd;
    color: #fffaf0;
    margin-bottom: 0;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px solid #373a4833;
}
.row-content:last-child{
    border: none
}
.header{
    padding-top: 50px;
}
.about {
    padding-right: 10px;
    padding-left: 10px;
}
.history {
    margin: 50px 0;
}
.lidership {
    margin: 25px 0 25px 0;
}
.footer {
    padding-top: 25px;
    margin-top: 25px;
    background-color: #d1c4e9;
    color: #373a48
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}